<div class="main hero">
    <div class="container">
        {% block search %}
        {% snippet "home/snippets/geokur_search.html" %}
        {% endblock %}
        <div id="esa-attribution">
            <p>Image credit: ESA earth observation image of the week - <a
                    href="https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2019/07/palm_oil_plantations/19484718-1-eng-GB/Palm_oil_plantations_pillars.jpg">Palm
                    oil plantations</a><br>Contains modified
                Copernicus Sentinel data (2019), processed by ESA, <a
                    href="https://creativecommons.org/licenses/by-sa/3.0/igo/">CC BY-SA 3.0
                    IGO</a>,
                <a href="https://creativecommons.org/licenses/by-sa/3.0/igo/legalcode">license</a>
            </p>
        </div>
    </div>
</div>
<div class="main">
    {% snippet "home/snippets/geokur_spatialSearch.html"%}
</div>