<div role="main" class="hero">
    <div class="container">
        {% block search %}
        {% snippet 'home/snippets/geokur_search.html' %}
        {% endblock %}
        <div id="esa-attribution">
            <p>Image credit: ESA earth observation image of the week - Palm oil plantations<br>Contains modified
                Copernicus Sentinel data (2019), processed by ESA, <a
                    href="https://creativecommons.org/licenses/by-sa/3.0/igo/">CC BY-SA 3.0
                    IGO</a>,
                <a href="https://creativecommons.org/licenses/by-sa/3.0/igo/legalcode">license</a>
            </p>
        </div>
    </div>
</div>