{#
    Renders a list of resources with icons and view links.
    
    resources - A list of resources (dicts) to render
    pkg - A package dict that the resources belong to.
    is_activity_archive - Whether this is an old version of the dataset (and therefore read-only)
    
    Example:
    
      {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
    
    #}
    <section id="dataset-resources" class="resources">
      <h2>{{ _('Data and Resources') }}</h2>
      {% block resource_list %}
        {% if resources %}
          {% block resource_list_inner %}
          {% set org = h.get_organization(pkg.organization.id) %}
          {% if 'Rekis' in org['display_name']%}
            
            <table class="table table-striped table-bordered table-condensed">
              <thead>
                <tr>
                  <th scope="col">{{ _('Model') }}</th>
                  <th scope="col">{{ _('Scenario') }}</th>
                  <th scope="col">{{ _('Description') }}</th>
                  <th scope="col">{{ _('Download Data') }}</th>
                </tr>
              </thead>
              <tbody>
                {% for resource in resources %}
                <tr>
                  {% if 'CMIP5' in resource['name']%}
                    {% set res_name = resource['name'][6:].split('_r')[0] %}
                    <td>{{res_name}}</td>
                  {% else %}
                    <td>{{resource['name']}}</td>
                  {% endif %}

                  {% if 'r26' in resource['name']%}
                    <td>RCP 2.6</td>
                  {% elif 'r45' in resource['name']%}
                    <td>RCP 4.5</td>
                  {% elif 'r85' in resource['name']%}
                    <td>RCP 8.5</td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  
                  {% if 'CMIP5' in resource['name']%}
                    {% if 'bias_corrected'in resource['name']%}
                      <td>Bias corrected <br>
                          Time Coverage: {{resource['name'][:-18][-9:]}}</td>
                    {% else %}
                      <td>Original (not bias corrected) <br>
                          Time Coverage: {{resource['name'][:-3][-9:]}}</td>
                    {% endif %}
                  {% else %}
                      <td></td>
                  {% endif %}
                  
                  <td>
                    <a class="btn btn-primary resource-url-analytics resource-type-{{ resource.resource_type }}" href="{{ resource.url }}">
                      <i class="fa fa-arrow-circle-o-down"></i>
                      {{ _('Download') }}
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            
          {% else %}
            <ul class="{% block resource_list_class %}resource-list{% endblock %}">
                {% set can_edit = h.check_access('package_update', {'id':pkg.id }) and not is_activity_archive %}
                {% for resource in resources %}
                  {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit, is_activity_archive=is_activity_archive %}
                {% endfor %}
            </ul>
          {% endif %}
          {% endblock %}
        {% else %}
          {% if h.check_access('resource_create', {'package_id': pkg['id']}) and not is_activity_archive %}
              {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
                <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
              {% endtrans %}
          {% else %}
              <p class="empty">{{ _('This dataset has no data') }}</p>
          {% endif %}
        {% endif %}
        {% endblock %}
    </section>
    