{#
    Renders a list of resources with icons and view links.
    
    resources - A list of resources (dicts) to render
    pkg - A package dict that the resources belong to.
    is_activity_archive - Whether this is an old version of the dataset (and therefore read-only)
    
    Example:
    
      {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
    
    #}
    <section id="dataset-resources" class="resources">
      <h2>{{ _('Data and Resources') }}</h2>
      {% block resource_list %}
        {% if resources %}
          {% block resource_list_inner %}
          {% set org = h.get_organization(pkg.organization.id) %}
          {% if 'Rekis' in org['display_name']%}
            
            <table class="table table-striped table-bordered table-condensed">
              <thead>
                <tr>
                  <th scope="col">{{ _('Model') }}</th>
                  <th scope="col">{{ _('Scenario') }}</th>
                  <th scope="col">{{ _('Description') }}</th>
                  <th scope="col">{{ _('Download Data') }}</th>
                </tr>
              </thead>
              <tbody>
                {% for resource in resources %}
                <tr>
                  {% if 'CMIP5' in resource['name']%}
                    {% set res_name = resource['name'][6:].split('_r')[0] %}
                    <td>{{res_name}}</td>
                  {% else %}
                    <td>{{resource['name']}}</td>
                  {% endif %}

                  {% if 'r26' in resource['name']%}
                    <td>RCP 2.6</td>
                  {% elif 'r45' in resource['name']%}
                    <td>RCP 4.5</td>
                  {% elif 'r85' in resource['name']%}
                    <td>RCP 8.5</td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  
                  {% if 'CMIP5' in resource['name']%}
                    {% if 'bias_corrected'in resource['name']%}
                      <td>Bias corrected <br>
                          Time Coverage: {{resource['name'][:-18][-9:]}}</td>
                    {% else %}
                      <td>Original (not bias corrected) <br>
                          Time Coverage: {{resource['name'][:-3][-9:]}}</td>
                    {% endif %}
                  {% else %}
                      <td></td>
                  {% endif %}
                  
                  <td>
                    <a class="btn btn-primary resource-url-analytics resource-type-{{ resource.resource_type }}" href="{{ resource.url }}">
                      <i class="fa fa-arrow-circle-o-down"></i>
                      {{ _('Download') }}
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          
          {% elif 'Rasterdaten' in org['display_name']%}
            <!--This dict comes from "public/rekis_ascii_file_naming.yml"
            Goal is to use this dictionary to make template code cleaner and 
            easier to configure if new files have to be included -->

            
            
            {% set resource_dict = h.update_resource_info(resources) %}
            
            {% set list_time_periods =  h.get_unique_set_of_time_periods(resource_dict) %}
            {% set list_seasons =  h.get_unique_set_of_seasons(resource_dict) %}
            {% set list_themes =  h.get_unique_set_of_themes(resource_dict) %}

            {% for item in list_time_periods %}
            {% set item_id = item.replace(' ', '')%}
            <p>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{item_id}}" aria-expanded="false" aria-controls="collapseExample">
                {{item}}
              </button>
            </p>
            <div class="collapse" id="{{item_id}}">
              {% for theme  in list_themes %}
                <div class="card card-body", div style="text-indent:30px;">
                  <p>
                    {% for resource in resource_dict %}  
                        {% set time_param =  resource['time_period_composite'].replace(' ', '') %}                    
                        {% if theme == resource['theme']['name'] and item_id == time_param %}
                          <a class="btn btn-primary resource-url-analytics resource-type-{{ resource.resource_type }}" href="{{ resource.url }}">
                                    <i class="fa fa-arrow-circle-o-down"></i>
                                    {{theme
                                      .replace('ue', 'ü')
                                      .replace('Ue', 'ü')
                                      .replace('ae', 'ä')
                                      .replace('Ae', 'Ä')}}
                          </a>
                        {% endif %}
                        

                    {% endfor %}

                  </p>
                </div>
              {% endfor %}
              
            </div>
			      {% endfor %}

              <!--
              <div class="collapse" data-toggle="collapse" id="{{item}}">
                {% for theme in list_themes_unique %}
                <p>{{theme}}</p>
                  <div style="text-indent:30px;" data-toggle="collapse" data-target="#{{theme}}">
                    
             
                    <p>
                      <button class="btn btn-primary" >{{theme}}</button>
                      <div class="collapse" style="text-indent:60px;" data-toggle="collapse" id="{{theme}}"  data-target="#{{theme}}">
                        <table class="table table-condensed">
                          <thead>
                            <tr>
                              <td scope="col">{{ _('Datensatz') }}</td>
                              <td scope="col">{{ _('Download') }}</td>
                            </tr>
                          </thead>
                          <tbody>
                            {%for resource in resources %}
                              {% if (resource['theme'] == theme) and item in resource['url'] %}
                              <tr>
                                <td>{{resource['name']}}</td>
                                <td>
                                  <a class="btn btn-primary resource-url-analytics resource-type-{{ resource.resource_type }}" href="{{ resource.url }}">
                                    <i class="fa fa-arrow-circle-o-down"></i>
                                    {{ _('Download') }}
                                  </a>
                                </td>
                              </tr>  
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
  
                      </div>
                    </p>
               
                  </div>
                {% endfor %}
              </div>
                 -->
      

            <!--
            <table class="table table-striped table-bordered table-condensed">
              <thead>
                <tr>
                  <th scope="col">{{ _('Datenthema') }}</th>
                  <th scope="col">{{ _('Periode') }}</th>
                  <th scope="col">{{ _('Beschreibung') }}</th>
                  <th scope="col">{{ _('Download') }}</th>
                </tr>
              </thead>
              <tbody>
                              
                {% for resource in resources %}
                <tr>
                  <td>{{resource['name']}}</td>
                  <td>{{resource['start_period']}} - {{resource['end_period']}}</td>
                  <td>{{resource['season']}}</td>
                  <td>
                    <a class="btn btn-primary resource-url-analytics resource-type-{{ resource.resource_type }}" href="{{ resource.url }}">
                      <i class="fa fa-arrow-circle-o-down"></i>
                      {{ _('Download') }}
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            -->
          {% else %}
            <ul class="{% block resource_list_class %}resource-list{% endblock %}">
                {% set can_edit = h.check_access('package_update', {'id':pkg.id }) and not is_activity_archive %}
                {% for resource in resources %}
                  {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit, is_activity_archive=is_activity_archive %}
                {% endfor %}
            </ul>
          {% endif %}
          {% endblock %}
        {% else %}
          {% if h.check_access('resource_create', {'package_id': pkg['id']}) and not is_activity_archive %}
              {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
                <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
              {% endtrans %}
          {% else %}
              <p class="empty">{{ _('This dataset has no data') }}</p>
          {% endif %}
        {% endif %}
        {% endblock %}
    </section>
    