{% trans %}
<h4>Curation and quality assurance of environmental research data for the use case of global land
    use&nbsp;data<br />Kuration und Qualitätssicherung von Geodaten in der Umweltforschung am Beispiel globaler
    Landnutzungsdaten</h4>
<p>&nbsp;</p>
<p style="text-align: justify;">Nowadays, a huge part of the environmental sciences refers to data driven research.
    Numerous interdisciplinary projects and research alliances&nbsp;produce data, but there is no standardized and
    common procedure for quality assurance and curation of the research data. The BMBF project GeoKur aims to support
    the curation and quality assurance already during the research process and not only when the research data are
    finally published. The developments include approaches for</p>
<ul style="list-style-type: square; text-align: justify;">
    <li style="list-style-type: none;">
        <ul style="list-style-type: square;">
            <li style="list-style-type: none;">
                <ul>
                    <li>automated acquisition of metadata,</li>
                    <li>data provenance tracking,</li>
                    <li>metadata and data quality assurance,</li>
                    <li>data quality indices,</li>
                    <li>data structuring and versioning,</li>
                    <li>data review processes,</li>
                    <li>detailed metadata descriptions including links to ontologies and vocabularies,</li>
                    <li>data management plans focusing on the peculiarities of geodata,</li>
                    <li>metadata use for discovery and fitness for purpose evaluation,</li>
                    <li>as well as measures for data relevance and usage.</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<p style="text-align: justify;">Therefore, existing standards and best practices are evaluated and integrated and
    finally tested and implemented in a comprehensive proof-of-concept using the example of global land-use dynamics
    data.</p>
<p><img src="/greenCircle.png" alt="greenCircle" width="500" class="center" /></p>
<p style="text-align: center;">The research objectives of GeoKur throughout the life cycle of research data</p>
<p><span style="color: #2f4f4f;"></span></p>
<p style="text-align: justify;">These time series are not only relevant for many sub-fields&nbsp;of
    the&nbsp;environmental and sustainability-related sciences​ (e.g.,&nbsp;food production,
    biodiversity&nbsp;conservation, water and resource availability, economic development), but also represent
    characteristic challenges for data curation, quality assurance and the provision of a consistent data basis for
    environmental research. These issues have not been solved comprehensively yet. The recommendations and guidelines,
    developed in GeoKur will be provided as lightweight tutorials, but also as transferable open source software tools.
    All data and software products of GeoKur will be made available to the research community.</p>
<p><br /><strong>Duration:</strong><br />The project started on 1 June 2019 and will run for 3 years.<br />Grant
    agreement no:<br />16QK04A<br /><br /></p>
</div>
{% endtrans %}