{% extends "page.html" %}

{% block breadcrumb_content %}
<li class='active'>{{ _('Legal Notice') }}</li>
{% endblock %}

{% block primary %}

<div id='legal-notice' class=container style='height: 525px; margin-bottom: calc(100vh - 600px - 255px);'>
    <p><br />The&nbsp;<a href="https://tu-dresden.de/impressum/?set_language=en">Legal notice of Technische Universität
            Dresden</a>&nbsp;applies with the following restrictions:</p>
    <address><strong>Site provider:</strong><br />Chair of Geoinformatics<br />Faculty of Environmental
        Sciences<br />Technische Universität Dresden<br />Prof. Dr. rer. nat. Lars Bernard<br />Helmholtzstraße
        10<br />01069 Dresden<br /><br /><strong>Technical administrator:</strong><br />Peggy Thiemt<br />Tel: (+49) 351
        463&nbsp;33277<br />Email:&nbsp;Peggy.Thiemt (at) tu-dresden (dot) de</address>
</div>
</div>
{% block secondary %}{% endblock %}

{% endblock %}