.btn {
  border-radius: 0 0 0 0;
}



.btn.btn-primary:active,
.btn.btn-primary:focus{
  border-radius: 0 0 0 0;
  box-shadow: none;
  outline: none;

}

.btn-primary {
  color: #fff;
  background-color: #00c46c;
  border-color: #1b5a6e;    
  border-width: 0;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #00c46c;
  border-color: #020607;
}
.btn-primary:hover {
  color: #fff;
  background-color: #009250;
  border-color: #005831;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #164959;
  background-image: none;
  border-color: #005831;
}

.site-footer{
  background: #00c46c;
}

.masthead{
  height: 85px;  
  background: #00c46c url("../../../Palm_oil_plantations_pillars_masthead.png");
  box-shadow: inset 0 5px 5px -3px #919191;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
background-color:#005831;
border-radius: 0 0 0 0;
margin-top: fill;
}

.space-top{
  margin-top: 20%;
}

.box, .wrapper{
background-color: #fbfbfb;
box-shadow: none;
border: none;
border-radius: 0 0 0 0;
}

.space-top .search-form {
  border-bottom: none;
  width: 75%;
  margin: auto;
  border-radius: 0 0 0 0;
}

.form-control {    
border: 1px solid #ccc;
border-radius: 0 0 0 0;
box-shadow: none;
}
.form-control:focus {
border-color:#00c46c;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.module-grid, .media-grid{
  background: #fbfbfb
}


.main{
background: #fbfbfb;
}
.hero {
height: calc(100vh - 30px - 85px);
padding-top: 0;
margin-bottom: 30px;
background: url("../../../Palm_oil_plantations_pillars_hero.jpg");
box-shadow: inset 0 3px 3px -3px #919191;
}



.account-masthead{
  min-height: 30px;
  height: 30px;
  background :#F5F5F5;
  /* background: #237434 url("../../../base/images/bg.png"); */
}

.account-masthead .account ul li a {
display: block;
color: #282e2b;
font-size: 13px;
font-weight: bold;
margin-top: 0px;
line-height: 31px;
}

body {
  background: #fbfbfb;
}

.collapse.navbar-collapse .section.navigation{
  font-size: large;
}

#esa-attribution{
  color: #ccc;
  position:absolute;
  bottom:0;
  right:0;
  font-size: xx-small;
  text-align: right;
  margin-right: 6px;
}

#esa-attribution a{
  color: rgb(224, 191, 191);
}

#geokur-map-attribution{
  font-size: xx-small;
  text-align: right;
  margin-bottom: 40px;
}


#geokur-map{
  min-width: 720px;
  width: 80%;  
  margin: auto;
}

#geokur-map-container{
height: 700px;
}

.btn-group.btn-main-map {
  display: flex;
}

.btn-main-map .btn {
  flex: 1
}

#geokur-map #dataset-map-edit-buttons {
display: block;
float: right;
padding: 10px;
}

#geokur-map-container .leaflet-draw-draw-rectangle{
  box-shadow: 0 0px 3px 2px lightcoral;
}

.account-masthead .container,
.masthead .container{
  width: calc(100vw - 30px);
}



