{% ckan_extends %}
{% block package_additional_info %}
{{super()}}
{% endblock %}
<p> {{pkg}} </p>

<!-- {% block extras scoped %}
{% for extra in h.sorted_extras(pkg_dict.extras) %}
{% set key, value = extra %}
<tr rel="dc:relation" resource="_:extra{{ i }}">
    <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key|e) }}</th>
    <td class="dataset-details" property="rdf:value">{{ value }}</td>
</tr>
{% endfor %}
{% for extra in h.sorted_extras(pkg_dict.extras) %}
{% set key, value = extra %}
<p>{{key}} {{value}}</p><br>
{% endfor %}
{% endblock %} -->